<section class="advertisement">
  <div class="container advertisement-container">
    <h2 class="visually-hidden">Advertisement</h2>
    <p class="advertisement-text">
      Choose <span class="advertisement-span">your story</span>, making every
      moment unique. Time is your style, and we reveal it.
    </p>
    <!-- <button class="advertisement-btn-wrapper" href="#contact-us">Contact Us</button> -->
    <div class="advertisement-btn-wrapper">
      <a class="about-advertisement-btn" href="#contact-us"> Contact Us </a>
    </div>
  </div>
</section>
