<section class="catalog" id="catalog">
  <div class="container catalog-container">
    <h2 class="catalog-main-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/garminfenix7xprosapphiresolar1x.webp  1x,
              /img/catalog/garminfenix7xprosapphiresolar-2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/garminfenix7xprosapphiresolar1xtablet.webp 1x,
              /img/catalog/garminfenix7xprosapphiresolar2xtablet.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/catalog/garminfenix7xprosapphiresolar1xmobile.webp 1x,
              /img/catalog/garminfenix7xprosapphiresolar2xmobile.webp 2x
            "
          />
          <img
            class="catalog-pic"
            src="/img/catalog/garminfenix7xprosapphiresolar1x.webp"
            alt="Garmin Fenix 7X Pro Sapphire Solar"
            loading="lazy"
          />
        </picture>
        <div class="catalog-text-wrapper">
          <h3 class="catalog-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-text">€500</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/garminmarqathlete.webp    1x,
              /img/catalog/garminmarqathlete-2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/garminmarqathlete1xtablet.webp 1x,
              /img/catalog/garminmarqathlete2xtablet.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/catalog/garminmarqathlete1xmobile.webp 1x,
              /img/catalog/garminmarqathlete2xmobile.webp 2x
            "
          />
          <img
            class="catalog-pic"
            src="/img/catalog/garminmarqathlete.webp"
            alt="Garmin Marq Athlete "
            loading="lazy"
          />
        </picture>
        <div class="catalog-text-wrapper">
          <h3 class="catalog-title">Garmin Marq Athlete</h3>
          <p class="catalog-text">€450</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/garmindescentmk1.webp    1x,
              /img/catalog/garmindescentmk1-2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/garmindescentmk1xtablet.webp 1x,
              /img/catalog/garmindescentmk2xtablet.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/catalog/garmindescentmk1xmobile.webp 1x,
              /img/catalog/garmindescentmk2xmobile.webp 2x
            "
          />
          <img
            class="catalog-pic"
            src="/img/catalog/garmindescentmk1.webp"
            alt="Garmin Descent MK1 "
            loading="lazy"
          />
        </picture>
        <div class="catalog-text-wrapper">
          <h3 class="catalog-title">Garmin Descent MK1</h3>
          <p class="catalog-text">€680</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/garmind2deltapx.webp    1x,
              /img/catalog/garmind2deltapx-2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/garmind2deltapx1xtablet.webp 1x,
              /img/catalog/garmind2deltapx2xtablet.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/catalog/garmind2deltapx-1xmobile.webp 1x,
              /img/catalog/garmind2deltapx-2xmobile.webp 2x
            "
          />
          <img
            class="catalog-pic"
            src="/img/catalog/garmind2deltapx.webp"
            alt="Garmin D2 Delta PX"
            loading="lazy"
          />
        </picture>
        <div class="catalog-text-wrapper">
          <h3 class="catalog-title">Garmin D2 Delta PX</h3>
          <p class="catalog-text">€380</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/garminfenix6prosolar.webp    1x,
              /img/catalog/garminfenix6prosolar-2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/garminfenix6prosolar1xtablet.webp 1x,
              /img/catalog/garminfenix6prosolar2xtablet.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/catalog/garminfenix6prosolar1xmobile.webp 1x,
              /img/catalog/garminfenix6prosolar2xmobile.webp 2x
            "
          />
          <img
            class="catalog-pic"
            src="/img/catalog/garminfenix6prosolar.webp"
            alt="Garmin Fenix 6 Pro Solar"
            loading="lazy"
          />
        </picture>
        <div class="catalog-text-wrapper">
          <h3 class="catalog-title">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-text">€400</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/tubewatchs42datesteelwithblackcase1x.webp 1x,
              /img/catalog/tubewatchs42datesteelwithblackcase2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/tubewatchs42datesteelwithblackcase1xtablet.webp 1x,
              /img/catalog/tubewatchs42datesteelwithblackcase2xtablet.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/catalog/tubewatchs42datesteelwithblackcase1x.webp 1x,
              /img/catalog/tubewatchs42datesteelwithblackcase2x.webp 2x
            "
          />
          <img
            class="catalog-pic"
            src="/img/catalog/tubewatchs42datesteelwithblackcase1x.webp"
            alt="Tube Watch S42 Date Steel With Black Case"
            loading="lazy"
          />
        </picture>
        <div class="catalog-text-wrapper">
          <h3 class="catalog-title">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-text">€395</p>
        </div>
      </li>
    </ul>
    <button type="submit" class="catalog-btn">Show more</button>
  </div>
</section>
