<header class="header">
  <div class="container container-header">
    <a class="header-logo" href="./index.html">watchcharm</a>
    <nav class="header-nav">
      <ul class="header-nav-pages-list">
        <li class="header-nav-pages-item">
          <a class="header-nav-pages-link current" href="./index.html#home"
            >Home</a
          >
        </li>
        <li class="header-nav-pages-item">
          <a class="header-nav-pages-link" href="./index.html#about"
            >About Us</a
          >
        </li>
        <li class="header-nav-pages-item">
          <a class="header-nav-pages-link" href="./index.html#catalog"
            >Catalog</a
          >
        </li>
        <li class="header-nav-pages-item">
          <a class="header-nav-pages-link" href="./index.html#sale">Sale</a>
        </li>
        <li class="header-nav-pages-item">
          <a class="header-nav-pages-link" href="./index.html#reviews"
            >Reviews</a
          >
        </li>
        <li class="header-nav-pages-item">
          <a class="header-nav-pages-link" href="./index.html#contact-us"
            >Contact Us</a
          >
        </li>
      </ul>
    </nav>

    <div class="header-social-media">
      <ul class="soc-net-list">
        <li class="soc-net-item">
          <a
            class="soc-net-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="team-icon" width="20" height="20">
              <use href="./img/header/header.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="soc-net-item">
          <a
            class="soc-net-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="team-icon" width="20" height="20">
              <use href="./img/header/header.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="soc-net-item">
          <a
            class="soc-net-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="team-icon" width="20" height="20">
              <use href="./img/header/header.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <button class="burger-btn" type="button" data-menu-open>
      <svg class="burger-icon">
        <use href="./img/header/header.svg#icon-header-btn"></use>
      </svg>
    </button>
  </div>
</header>
