<section class="hero" id="herro">
  <div class="container hero-container">
    <div class="hero-content">
      <div class="hero-title-text">
        <h1 class="hero-title">
          Welcome to our <span class="collection">collection</span> of premium
          watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="avatars-scroll">
        <div class="hero-avatars">
          <ul class="hero-item">
            <li class="hero-item-list">
              <img
                src="/img/hero/avatar-one@1x.webp"
                srcset="
                  /img/hero/avatar-one@1x.webp 1x,
                  /img/hero/avatar-one@2x.webp 2x
                "
                alt="avatar"
                width="60"
                height="60"
              />
            </li>
            <li class="hero-item-list">
              <img
                src="/img/hero/avatar-two@1x.webp"
                srcset="
                  /img/hero/avatar-two@1x.webp 1x,
                  /img/hero/avatar-two@2x.webp 2x
                "
                alt="avatar"
                width="60"
                height="60"
              />
            </li>
            <li class="hero-item-list">
              <img
                src="/img/hero/avatar-three@1x.webp"
                srcset="
                  /img/hero/avatar-three@1x.webp 1x,
                  /img/hero/avatar-three@2x.webp 2x
                "
                alt="avatar"
                width="60"
                height="60"
              />
            </li>
          </ul>
        </div>
        <div class="scroll-down">
          <a href="#footer" class="scroll-button">Scroll down</a>
        </div>
      </div>
    </div>
    <div class="hero-image">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            /img/hero/rectangle-mobil@1x.jpg 1x,
            /img/hero/rectangle-mobil@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px) and (max-width: 1279.98px)"
          srcset="
            /img/hero/rectangle-tablet@1x.jpg 1x,
            /img/hero/rectangle-tablet@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/hero/rectangle-desktop@1x.jpg 1x,
            /img/hero/rectangle-desktop@2x.jpg 2x
          "
        />
        <img
          src="/img/hero/rectangle-desktop@2x.jpg"
          alt="Premium watches"
          width="1150"
          height="500"
        />
      </picture>
    </div>
  </div>
</section>
