<section class="reviews">
  <div class="container">
  </div><h1 class="reviews-title">Reviews</h1>
    <div class="wrapper">
    
      <div class="item item-1" >

        <img class="hero" src="/img/John.jpg" alt="people 1" >
        <h2 class="reviews-item-title">John Wax</h2>
        <p class="facts-item-descr">Buying a watch from was the best choice for me. The design is perfectly combined with high quality materials. The strap fits nicely on the hand, and the mechanism works flawlessly.
        </p>
      </div>
      <div class="item item-2">
        <img class="hero" src="/img/Anastasia.jpg" alt="people 2" >
        <h2 class="reviews-item-title">Victoria Romashenko</h2>
        <p class="facts-item-descr">Can't take my eyes off my watch from. Every time I put it on, it is admired by those around me. The build quality and attention to detail make it a real gem among my accessories.
        </p>
      </div>
       <div class="item item-3">
        <img class="hero" src="/img/Victoria.jpg" alt="people 3" >
        <h2 class="reviews-item-title">Anastasia Trachuk</h2>
        <p class="facts-item-descr">My watch from is a real masterpiece. Every detail impresses with the high quality of execution. Special features like [specify features] make it an indispensable companion in my daily life.
        </p>
      </div>
    </div>
    </div>
  </div>
</section>
