<section class="reviews" id="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="wrapper">
      <ul class="reviews-list">
        <li class="item">
          <img
            class="review-img"
            src="/img/hero/avatar-two@1x.webp"
            srcset="
              /img/hero/avatar-two@1x.webp 1x,
              /img/hero/avatar-two@2x.webp 2x
            "
            alt="people 1"
          />
          <h3 class="reviews-item-title">John Wax</h3>
          <p class="facts-item-descr">
            Buying a watch from was the best choice for me. The design is
            perfectly combined with high quality materials. The strap fits
            nicely on the hand, and the mechanism works flawlessly.
          </p>
        </li>

        <li class="item">
          <img
            class="review-img"
            src="/img/hero/avatar-one@1x.webp"
            srcset="
              /img/hero/avatar-one@1x.webp 1x,
              /img/hero/avatar-one@2x.webp 2x
            "
            alt="people 2"
          />
          <h3 class="reviews-item-title">Victoria Romashenko</h3>
          <p class="facts-item-descr">
            Can't take my eyes off my watch from. Every time I put it on, it is
            admired by those around me. The build quality and attention to
            detail make it a real gem among my accessories.
          </p>
        </li>

        <li class="item">
          <img
            class="review-img"
            src="/img/hero/avatar-three@1x.webp"
            srcset="
              /img/hero/avatar-three@1x.webp 1x,
              /img/hero/avatar-three@2x.webp 2x
            "
            alt="people 3"
          />
          <h3 class="reviews-item-title">Anastasia Trachuk</h3>
          <p class="facts-item-descr-anastasia">
            My watch from is a real masterpiece. Every detail impresses with the
            high quality of execution. Special features like [specify features]
            make it an indispensable companion in my daily life.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
