<section class="reviews">
  <h2 class="reviews-title">Reviews</h2>
    <div class="wrapper">
    <div class="container">
      <div class="item">
        <img src="img/John" alt="people 1">
        <h3 class="reviews-item-title">John Wax</h3>
        <p class="facts-item-descr">Buying a watch from was the best choice for me. The design is perfectly combined with high quality materials. The strap fits nicely on the hand, and the mechanism works flawlessly.
        </p>
      </div>
      <div class="item">
        <img src="img/Anastasia" alt="people 2">
        <h3 class="facts-item-title">Victoria Romashenko</h3>
        <p class="facts-item-descr">Can't take my eyes off my watch from. Every time I put it on, it is admired by those around me. The build quality and attention to detail make it a real gem among my accessories.
        </p>
      </div>
       <div class="item">
        <img src="img/Victoria" alt="people 3">
        <h3 class="facts-item-title">Anastasia Trachuk</h3>
        <p class="facts-item-descr">My watch from is a real masterpiece. Every detail impresses with the high quality of execution. Special features like [specify features] make it an indispensable companion in my daily life.
        </p>
      </div>
    </div>
    </div>
  </div>
</section>
