/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./base.css');
@import url('./animations.css');
@import url('./fonts.css');
/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./about-us.css');
@import url('./catalog.css');
@import url('./advertisement.css');
@import url('./sale.css');
@import url('./reviews.css');
@import url('./contact-us.css');
@import url('./footer.css');
/*===========================================global=====================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-family: 'Gilroy', sans-serif;
  --main: #0c0c0c;
  --accent: #3350e9;
  --background: #fbfbfb;
  --cards: #f3f3f3;
}

body {
  font-family: 'Gilroy', sans-serif;
}

section {
  padding: 30px 0;
}

.hide {
  display: none;
}

.container {
  min-width: 320px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1279.98px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  section {
    padding: 40px 0;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 65px;
  }

  section {
    padding: 50px 0;
  }
}

img {
  background-color: transparent;
}

/*=================about=============*/
.about-header {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--main);
  margin-bottom: 28px;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.about-paragraph {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  text-align: start;
}

.about-button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: var(--background);
}

.about-button-wrapper {
  width: 160px;
  height: 48px;
  border: none;
  border-radius: 16px;
  background: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.about-image {
  box-sizing: border-box;
  border-radius: 30px;
  border: none;
  width: 100%;
}

.about-block-text {
  background: var(--cards);
  border: none;
  border-radius: 30px;
  padding: 40px 20px;
  margin-bottom: 40px;
  width: 100%;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-section {
  padding: 30px 0px;
}

@media (min-width: 768px) {
  .about-paragraph {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
  }

  .about-header {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 92%;
    letter-spacing: -0.02em;
    color: var(--main);
  }

  .about-block-text {
    width: 704px;
    padding: 80px 60px;
  }

  .about-list {
    margin-bottom: 60px;
  }

  .about-section {
    padding: 40px 0px;
  }
}

@media (min-width: 1280px) {
  .about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: unset;
    justify-content: unset;
  }

  .about-block-text {
    padding: 80px 60px;
    width: 580px;
    height: 532px;
    margin-right: 40px;
    margin-bottom: 0px;
  }

  .about-image {
    border-radius: 50px;
    width: 530px;
    height: 532px;
  }

  .about-list {
    margin-bottom: 40px;
  }

  .about-section {
    padding: 50px 0px;
  }

  .about-button {
    cursor: pointer;
  }
}

/*============================catalog====================*/
.catalog {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .catalog {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .catalog {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.catalog-main-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .catalog-main-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 92%;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
  }
}

.catalog-list {
  display: flex;
  text-decoration: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .catalog-list {
    gap: 29px 16px;
  }
}

@media screen and (min-width: 1280px) {
  .catalog-list {
    gap: 26px 23px;
  }
}

ul.catalog-list li:nth-child(n + 5) {
  display: none;
}

@media screen and (min-width: 768px) {
  ul.catalog-list li:nth-child(n + 5) {
    display: unset;
  }
}

.catalog-list-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 24px 28px;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .catalog-list-item {
    width: calc((100% - 16px) / 2);
    padding: 24px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .catalog-list-item {
    width: calc((100% - 23px * 2) / 3);
    padding: 24px 32px;
  }
}

.catalog-btn {
  font-family: var(--font-family);
  display: block;
  border-radius: 16px;
  border: 0;
  width: 160px;
  height: 48px;
  margin: 0 auto;
  background-color: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fbfbfb;
  cursor: pointer;
  margin-top: 40px;
}

.catalog-btn:hover,
.catalog-btn:focus {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #1f3cd4;
}

@media screen and (min-width: 768px) {
  .catalog-btn {
    display: none;
  }
}

.catalog-pic {
  margin: 18px auto 28px;
  display: flex;
  justify-content: center;
  width: 208px;
  height: 226px;
}

@media screen and (min-width: 768px) {
  .catalog-pic {
    margin: 10px auto 20px;
    width: 268px;
    height: 292px;
  }
}

@media screen and (min-width: 1280px) {
  .catalog-pic {
    width: 292px;
    height: 292px;
  }
}

.catalog-text-wrapper {
  width: 280px;
}

.catalog-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .catalog-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 280px;
  }
}

@media screen and (min-width: 1280px) {
  .catalog-title {
    width: 304px;
  }
}

.catalog-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}
